.hero {
  padding-block-start: 16px;
}

.hero-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-image {
  text-align: center;

}

/* Para que se adapate al espacio del contenedor y no se deforme la imagen */
.hero-image img {
  max-inline-size: 100%;
  block-size: auto;
}

.hero h1 {
  font: var(--headLine3);
  margin: 0;
}

/* selecciona uno o más elementos de un tipo dado, en función de su posición entre un grupo de hermanos
En este caso seleccionamos el primer span */
/* .hero h1 span:nth-of-type(1) { */
.hero h1 span:first-child {
  font: var(--headLine5);
  display: block;
}

@media screen and (min-width: 768px) { /* aplica para un ancho de 768px o más */
  .hero {
    display: flex;
    gap: 32px; /* espacio entre elementos */
  }

  .hero-description {
    order: 1;
    max-inline-size: 450px;
  }

  .hero-image {
    order: 2;
    flex: 1; /* toma todo el espacio disponible*/
    text-align: end;
  }

  @media screen and (min-width: 1024px) {

    .hero h1 {
      font: var(--headLine2);
      margin: 0;
    }

    .hero-image img {
      inline-size: 500px; /*ancho */
      block-size: 504px; /* alto */
    }

    .hero-description .button {
      display: none; /* oculta el enlace */
    }
  }
}