.project {
  padding-block-start: 40px;
  padding-block-end: 40px;
}

a[title="LeonidasEsteban.com"] {
  text-transform: lowercase;
}

.project-image img {
  max-inline-size: 100%; /* se adapata al espacio del contenedor*/
}

.project-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .project {
    display: flex;
    align-items: center;
    padding-block-start: 80px;
    padding-block-end: 80px;
  }

  .project-description{
    flex: 1;
  }

  .project:nth-child(odd) .project-image { /* odd -> selector para los elementos impares */
    order: 2; /* propiedad flex para cambiar el orden */
    flex: 1; /* espacio restante en el contenedor flexible debe asignarse, en este caso 50% */
    text-align: center;
  }
}